.lore .sheet-header .level-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 8px;
  width: 48px;
}
.lore .sheet-header .level-container .resource-label {
  font-size: 0.8em;
  margin-bottom: 2px;
}
.lore .sheet-header .level-container .resource-content input {
  width: 32px;
  font-size: 0.9em;
  padding: 2px 4px;
  text-align: center;
}
