// main: "../lore.less", out: false

:root {
  --lore-c-dark: #191813;
  --lore-c-faint: #c9c7b8;
  --lore-c-beige: #b5b3a4;
  --lore-c-tan: #444444;
  --lore-c-white: #ffffff;
  --lore-c-black: #000000;
  --lore-c-groove: #eeede0;

  // Core Colors
  --lore-c-charcoal: #2e2e2e;
  --lore-c-slate: #6e6e6e;
  --lore-c-ivory: #fdfdfd;
  --lore-c-ash: #e6e2dc;

  //Accent Colors
  --lore-c-blue: #3a6ea5;
  --lore-c-red: #c23b22;
  --lore-c-gold: #daa520;
  --lore-c-green: #3cb371;
}

.theme-dark {
  --lore-c-dark: #c9c7b8;
  --lore-c-faint: #191813;
  --lore-c-beige: #444444;
  --lore-c-tan: #b5b3a4;
  --lore-c-white: #000000;
  --lore-c-black: #ffffff;
  --lore-c-groove: #11121f;
}

@c-white: var(--lore-c-white);
@c-black: var(--lore-c-black);

@c-dark: var(--lore-c-dark);
@c-faint: var(--lore-c-faint);
@c-beige: var(--lore-c-beige);
@c-tan: var(--lore-c-tan);

@c-groove: var(--lore-c-groove);
