// main: "lore.less", out: false

.roll-formula {
  font-weight: bold;
  text-align: center;
}
.modifier-input-label {
  text-align: center;
  margin-right: 10px;
}
.modifier-input {
    width: 50px;
}
