{{!-- context-menu.hbs --}}
<div class="lore-context-menu">
  {{#each items}}
    <div class="lore-context-menu-item" style="" data-action="{{this.action}}">
      {{{this.label}}}
    </div>
  {{/each}}
</div>
