// main: "../lore.less", out: false

.biography {
  padding: 10px;
  height: 100%;
  overflow: hidden;
}
.biography-content {
  background: none;
  border: none;
  height: 100%;
  overflow-y: auto;
}
