// main: "../lore.less", out: false

// Match biography tab scrolling
.gear {
	padding: 10px;
	height: 100%;
	overflow: hidden;
}
.gear-content {
	background: none;
	border: none;
	height: 100%;
	overflow-y: auto;
}