{{! Boon Details Tab }}
<section class='tab details {{tab.cssClass}}' data-group='primary' data-tab='details'>
  <div class='resource'>
    <div class='grid grid-4col'>
      <div class='item-options grid-span-2'>
        <label class='resource-label'>{{localize 'LORE.Item.Boon.FIELDS.magicksBackground.label'}}</label>
        <input class='resource-checkbox' type='checkbox' name='system.magicksBackground' {{#if system.magicksBackground}}checked{{/if}} />
      </div>
    </div>
  </div>
</section>
