{{! Details Tab }}
<section class='tab details {{tab.cssClass}}' data-group='primary' data-tab='details'>
  {{! Generic gear has no specialized fields for now }}
  <p class='notes'>{{localize 'LORE.Item.Gear.FIELDS.genericDetailsHint'}}</p>
</section>